/* Stile base per la cella del tabellone */
.bingo-cell {
    display: flex; align-items: center; justify-content: center; 
    width: 4rem; height: 4rem;
    border-width: 1px; border-color: #4b5563; 
    border-radius: 0.375rem;
    color: #d1d5db; font-weight: 800; font-size: 1.875rem;
    background-color: rgba(55, 65, 81, 0.5);
    transition-property: all; transition-duration: 300ms;
    cursor: default;
}

/* Stile per il container e il numero pescato */
.bingo-board-container .bingo-cell.drawn {
    background-color: #dc2626; 
    color: white;
    border-color: #fca5a5 !important; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
    transform: scale(1.1);
    box-shadow: 0 0 0 8px rgba(252, 165, 165, 0.5); 
}

/* Stile del numero a display */
#current-number-display {
    display: flex; align-items: center; justify-content: center; 
    width: 16rem; height: 16rem;
    background-color: #4f46e5;
    color: white; 
    border-radius: 9999px; 
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
    font-size: 8rem; 
    font-weight: 800; 
    transition-property: all; transition-duration: 300ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}